{% extends 'base.html' %}
{% block body %}

<form method="post">
  {% csrf_token %}
  {% load static %}

<nav class="navbar navbar-expand navbar-dark nav bg-dark fixed-top">
  <div class="container-fluid">
    <li class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link scrollto" href="#"><img src="{% static 'logo.png' %}" style="height:50px; width:80px;"></a>
        </li>
        <a class="navbar-brand">Coconet</a>
        <li class="nav-item">
          <a class="nav-link scrollto" href="#">Create Blog</a>
        </li>
        <li class="nav-link scrollto" href="viewblog.html">View Blog</a>
        </li>
        <li class="nav-item dropdown-right">
           <a class="nav-link dropdown-toggle" href="#" role="button"  data-bs-toggle="dropdown">
            <img src="{% static 'cat.jpeg' %}" style="height:30px;width:40px;" class="img-responsive2 rounded-pill">
           </a>
               <li class="dropdown-item" href="#">create profile</li>
               <li class="dropdown-item" href="#">view profile</li>
               <li class="dropdown-item" href="#">upload profile pic</li>
               <li class="dropdown-item" href="#">edit profile</li>
               <li class="dropdown-item" href="#">change password</li>
               <li class="dropdown-item" href=#">logout</li>

        </li>

      </ul>
  </div>
</nav>
</form>




{% endblock %}
