{% extends 'base.html' %}
{% block body %}

<form method="POST">
      {% csrf_token %}
    <div class="container mt-5">
        <div class="row col-lg-6" style="text-align:center;">
         <h4>Reset Password</h4>
         <p>Verify the otp send to Your mobile number and reset password</p>
            <input type="text"  class="form-control" id="otp" placeholder="enter your otp"><br><br>
            <input type="text" class="form-control" id="newpass" placeholder="enter new password"><br><br>
            <input type="text" class="form-control" id="confirmpass" placeholder="enter confirm password"><br>
           <button type="submit" class="btn btn-md btn-primary">Reset Password</button><br>
        </div>
        <a>-Or Request otp-</a>
    </div>

</form>

{% endblock  %}